h2 {
    color: aqua;
    font-size: 50px;
}

.description {
    color: coral;
    text-decoration: cornflowerblue underline;
}

.emphasized-description {
    color: rgb(0, 255, 0);
    text-decoration: line-through;
}

#thought {
    color: rgb(255, 0, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 1000;
    font-size: 25px;
}

#mistake {
    color: rgb(243, 178, 243);
}

#idea {
    color: green;
}

.description {
    color: rgb(255, 0, 85);
}

.menu li a {
    color: peru;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode'Verdana, sans-serif;
}

.menu li {
    list-style: none;
}

.menu2>p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: slateblue;
    font: 28px;
}

h3+.description {
    color: rgb(255, 68, 0);
    font-size: 22px;
}
h2,.description{
    font-size: 15px;
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input[type="text"]{
    color: red;
}
input[type="button"]{
    background-color: rgb(243, 178, 243);
}
input[type="textarea"]{
    background-color: black;
    color: white;
}
input[type="textarea"] {
    background-color: pink;
    color: white;
}
.button[type]{
    background-color: pink;
    color: red;
}